dataset/
datasets/
checkpoints/
results/
web/
build/
dist/
*.egg-info/
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.ipynb_checkpoints/
# 3. 操作系统 & IDE 垃圾文件
.DS_Store
.idea/
*.swp
*~
Thumbs.db
wandb/
*.3dmbak
*.rhl
*.epw
*.png
!assets/*.png
!images/*.png